/* Typo */

@import 'https://fonts.googleapis.com/css?family=Montserrat|Varela|Oswald:400,700';

/* Main */

body {
  background-color: #F4F4F4;
}

main {
  width: 375px;
  /* height: 667px; */
  margin: 40px auto 0 auto;
  border: 1px solid #F4F4F4; 
  background-color: #FFFFFF;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .2);
  position: relative;
}

section {
  /* width: 315px; */
  /* margin: 0 auto; */
}

/* Navigation */

.navigation {
  margin-top: 40px;
  overflow: hidden;
  height: 30px;
}
.back-to-home {
  float: left;
}
.search {
  float: right;
}

/* Restaurant */

.restaurant div:nth-child(1) {
  width: 95px;
  height: 95px;
  margin: 0 auto;
  border: 6px solid #474850;
  border-radius: 50%;
  background: url("http://www.phuketdining.com/images/casuarina_large.jpg") no-repeat;
  background-size: cover;
  box-shadow: 0 5px 9px 0 rgba(71, 72, 80, .5);
}
.restaurant h1 {
  padding: 0;
  margin: 30px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  color: #64666F;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* Number of tables to book */

.number-of-tables {
  text-align: center;
  height: 200px;
  /* margin-top: 60px; */
}
.number-of-tables h2 {
  text-align: center;
  margin-bottom: -30px;
  font-family: 'Varela', sans-serif;
  font-size: 16px;
  color: #707076;
  margin-top:2em;
}
.number-of-tables div {
  display: inline-block;
}
.counter {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 72px;
  margin: 0 60px;
  color: #5E606A;
}
.minus, .plus {
  height: 72px;
  width: 30px;
  vertical-align: top;
  position: relative;
}
.minus svg, .plus svg {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
}

/* Date and time */

.choose-date {
  /* margin-top: 70px; */
}
.choose-date h2, .choose-date div {
  text-align: center;
}
.choose-date h2 {
  font-family: 'Varela', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  color: #707076;
}
.choose-date h2 span {
  font-family: "Verdana", sans-serif;
}
.choose-date div {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  word-spacing: 5px;
  color: #5E606A;
}
.choose-date div span {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

/* Confirm */

.confirm-book {
  width: 255px;
  height: 46px;
  line-height: 46px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #474850;
  color: #FFFFFF;
  box-shadow: 0 12px 15px -9px rgba(71, 72, 80, .5);
}

/* Footer */

footer {
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  width: 375px;
  margin: 15px auto;
  padding-right: 15px;
  text-align: right;
}

footer a:visited, footer a:link {
  color: #000000;
}
/* counter_reservation */
span {cursor:pointer; }

.minus, .plus{
  width:20px;
  height:20px;
  background:#f2f2f2;
  border-radius:4px;
  padding:8px 5px 8px 5px;
  border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input {
  height:34px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border:1px solid #ddd;
  border-radius:4px;
  display: inline-block;
  vertical-align: middle;
}