.logoBlockSoroban {
    width: 100%;
    text-align: center;
}

.button-link {
    margin: 25% auto auto;
    color: #10A056;
    vertical-align: middle;
}

.button-link:hover {
    color: black;
}

.block-link {
    display: table;
    margin: auto;
    width: 125px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    margin-top: 15px;
    line-height: 22px;
}

.logoSoroban {
    width: 50%;
    padding: 1rem;
}

.content-of-page {
    padding-top: 2rem;
}

.modalUpdate {
    width: 75%;
    margin: auto;
}

.descriptionInputUpdate {
    width: 90%;
}
.statusInputUpdate {
    padding: 1rem;
}

.city-choose-admin {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-image: none;
    background: none;
    border: 1px #f26522 solid;
    border-radius: 10px;
    min-width: 305px;
    min-height: 3rem;
    padding: 9px 8px 9px 15px;
    font-size: 18px;
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
}

.addressInput {
    height: 3rem;
    min-width: 305px;
}

.descriptionInput {
    min-width: 325px;
}

#TB_ajaxContent {
    width: 800px !important;
}

.cityForm {
    float: left;
    width: 50%;
}

.cityForm label, .cityForm label input {
    margin: 0.5em;
}

.listForm {
    max-width: 100%;
    margin: auto auto .5rem;
}

.listForm table {
    border: 1px solid rgba(50,50,50,0.5);
    background: white;
    border-collapse: collapse;
    padding:5px;
    width: 75%;
    margin: auto;
}

.listForm table th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-weight: 100;
    padding:24px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

.listForm table th:first-child {
    border-top-left-radius:3px;
}

.listForm table th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.listForm table tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.listForm table tr:hover td {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

.listForm table tr:first-child {
    border-top:none;
}

.listForm table tr:last-child {
    border-bottom:none;
}

.listForm table tr:nth-child(odd) td {
    background:#EBEBEB;
}

.listForm table tr:nth-child(odd):hover td {
    background:#4E5066;
}

.listForm table tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

.listForm table tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

.listForm table td {
    background:#FFFFFF;
    padding: 10px;
    vertical-align:middle;
    font-weight:300;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.listForm table td:last-child {
    border-right: 0px;
}

.visibleBlock {
    width: 50%;
    float: right;
}

#cityName, #firstCoordinate, #twoCoordinate {
    width: 30em;
    color: black;
    height: 3rem;
}

#firstCoordinate, #twoCoordinate {
    width: 10em;
    color: black;
}

.latInput {
    float: left;
}

.lngInput {
    float: right;
    padding-right: 7rem;
}

#googleMap {
    float:left;
    width:100%;
    height:500px;
}
.addressInput {
    width: 20rem;
}
.descriptionInput {
    width: 20rem;
}

.description {
    text-align: center;
}

.address {
    text-align: center;
}

.title-maps {
    text-align: center;
}

.maps-block {
    text-align: center;
}
/*
.gm-style-iw<div{
    background-color: #FF9741;
}*/
