
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

#quiz {
  height: 86.7%;
  margin-top: -10px ;
  margin-left:-15px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 93%;
}

.no-js #quiz {
  display: none;
}

.needsjs {
  background: #f5f5eb;
  display: none;
  margin: 0 !important;
  overflow: hidden;
  padding: 220px 10% !important;
  position: relative;
  width: 80%;
}

.no-js .needsjs {
  display: block
}

#quiz .panel {
  background: white;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 100%;
  width: 100%;
  z-index: 1;
}

#quiz .panel.resultspanel {
  left: 0;
  z-index: 0;
  text-align: center;
}

#quiz .panel.current {
  left: 0;
}

#quiz .panel.completed {
  left: -100%;
}

#quiz .panel img {
  float: right;
  margin: 0;
}

#quiz .panel .question,
#quiz .panel .start {
  width: 44%;
  height: 100%;
  padding: 20px 3%;
  position: relative;
}

#quiz .panel.startpanel .start {
  width: 59%;
}

#quiz .panel .enews {
  background: none !important;
  padding: 20px 3%;
  text-align: center;
  width: 94%;
}

#quiz .panel .image {
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  height: 100%;
  width: 50%;
}

#quiz .panel.startpanel .image {
  width: 35%;
}

#quiz .panel .image .copyright {
  font-size: 0.7em;
  color: white;
  text-shadow: black 0px 0px 2px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

#quiz .panel.resultspanel .question,
#quiz .panel.resultspanel .start {
  text-align: center;
}

#quiz .panel.resultspanel .question p,
#quiz .panel.resultspanel .start p {
  text-align: left;
}

#quiz .panel .question h3,
#quiz .panel .start h3,
.actionspanel h2,
.enews h2 {
  color: #15974c;
  font-family: 'Comfortaa', Arial, sans-serif;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin: 0.8em 5% 1.3em;
  text-align: center;
  text-transform: uppercase;
}

#quiz .panel .start h3 {
  font-size: 4em;
  margin-top: 0.8em;
  padding: 0 0.5em 0 0.2em;
}

.enews h2 {
  font-size: 2.8em;
}

.enews p,
.enews a {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.enews label {
  width: 14%;
  height: 30px;
  float: left;
  margin: 10px 0 0 10%;
  background: #d8682a;
  padding: 5px 3%;
  color: white;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 1.5em;
  text-align: right;
}

.enews input[type="text"],
.enews input[type="email"] {
  width: 60%;
  height: 40px;
  float: right;
  margin: 10px 10% 0 0;
  padding: 5px 3%;
}

.enews input[type="submit"] {
  background: #d8682a !important;
  border: none;
  border-bottom: solid 3px #2d2d2d;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  box-shadow: none;
  clear: right;
  color: white;
  cursor: pointer;
  display: block;
  float: none !important;
  font-family: 'WWFRegular', Arial, sans-serif;
  font-size: 1.8em;
  height: auto;
  margin: 10px auto !important;
  padding: 8px 20px;
  top: 10px;
  line-height: normal;
  position: relative;
  width: auto;
}

.subtlelink {
  border: solid 1px rgb(145, 145, 145);
  border-bottom: solid 3px rgb(145, 145, 145);
  color: rgb(145, 145, 145);
  cursor: pointer;
  display: inline-block;
  margin: 10px auto;
  padding: 6px 10px;
  position: relative;
  font-size: 0.8em;
}

#quiz .panel .image a.subtlelink {
  background: rgba(0,0,0,0.3);
  border: solid 1px white;
  border-bottom: solid 3px white;
  color: white;
  margin: 0;
  position: absolute;
    top: 20px;
    right: 20px;
}

#quiz .panel .image a.subtlelink:hover { border-bottom: solid 1px white; margin-top: 2px; }

.buttonlink {
  border: solid 1px rgb(80, 95, 170);
  border-bottom: solid 3px rgb(80, 95, 170);
  border-radius:1px;
  background: rgb(0, 150, 210);
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 30px auto 0;
  padding: 11px 15px;
  position: relative;
  font-size: 1.2em;
  text-decoration: none;
}

.buttonlink:hover {
  border-bottom: solid 1px rgb(80, 95, 170);
  margin: 32px auto 0;
}

.retake {
  padding-left:2em;
}

.retake:before {
  content: "\f01e";
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  margin-top:-0.5em;
  position: absolute;
  top: 50%;
  left:0.5em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.enews p.dataprotect {
  margin-top: 17px;
  font-size: 0.8em;
}

#quiz .panel.resultspanel .question h3,
#quiz .panel.resultspanel .start h3 {
  display: inline-block;
  font-size: 3em;
  position: relative;
}

#quiz .panel.resultspanel .question p,
#quiz .panel.resultspanel .start p,
.actionspanel p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

#quiz .panel.resultspanel .question p#desc {
  font-size: 1.3em;
  line-height: 1.7em;
}

#quiz .panel.resultspanel .question h3:after,
#quiz .panel.resultspanel .start h3:after {
  right: -1em;
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  -mos-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}


#quiz .panel .question label {
  background: white;
  border-bottom: #c8c8c8 2px solid;
  cursor: pointer;
  display: block;
  font-family: 'Comfortaa', Arial, sans-serif;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 0.9em 3%;
  position: relative;
  width: 70%;
}

#quiz .panel .question label:hover {
  font-weight: 600;
}

#quiz .panel .question input[type="radio"]:checked + label {
  background: #d8682a;
  border-bottom: #d8682a 2px solid;
  /*box-shadow: black 0 0 3px;
						box-shadow: rgba(0,0,0,0.5) 0 0 3px;*/
  color: white;
  font-size: 1.4em;
  padding-top: 0.95em;
  padding-bottom: 0.95em;
  margin-top: -0.4em;
  margin-bottom: -0.4em;
  width: 77%;
  z-index: 1;
}

#quiz .panel .question input[type="radio"]:checked + label:hover {
  font-weight: 400;
}


/*#quiz .panel .question label:first-of-type {
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
					
					#quiz .panel .question label:last-of-type {
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						border-bottom: 0px;
					}*/

#quiz .panel .question input {
  display: none;
}

.lt-ie9 #quiz .panel .question input {
  display: block;
  float: left;
  margin: 10px 0 0 20px;
}

#quiz .panel .question .nextbutton,
#quiz .panel .question .lastbutton,
#quiz .panel .start .nextbutton,
#quiz .panel .start .lastbutton {
  background: #e6af6a;
  border-radius: 4em;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 1em;
  position: absolute;
  text-align: center;
}

#quiz .panel .question .nextbutton,
#quiz .panel .start .nextbutton {
  width: 100px;
  height: 30px;
  top: 50%;
  right: -3.3em;
  margin-top: -4em;
  padding: 60px 0.1em 10px;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 0.15s linear;
}

#quiz .panel .start .nextbutton {
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
}

.lt-ie9 #quiz .panel .question .nextbutton,
.lt-ie9 #quiz .panel .start .nextbutton {
  display: none;
}

#quiz .panel .question .lastbutton,
#quiz .panel .start .lastbutton {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 10px;
  opacity: 1;
  margin-top: -2.1em;
  padding: 0;
  text-indent: -9999px;
}

.lt-ie9 #quiz .panel .question .lastbutton,
.lt-ie9 #quiz .panel .start .lastbutton {
  display: none;
}

#quiz .panel .question .progress {
  background: #e6af6a;
  border-radius: 3em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6em;
  height: 1em;
  line-height: 1em;
  width: 4em;
  margin-left: -25px;
  padding: 1.5em 0.5em;
  text-align: center;
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 3em;
  
  
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  
}

#quiz .panel .start .progress {
  display: none;
}

#quiz .panel .question .nextbutton.active {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.lt-ie9 #quiz .panel .question .nextbutton.active {
  display: block;
}

#quiz .panel .question .nextbutton:before,
#quiz .panel .question .lastbutton:before,
#quiz .panel .start .nextbutton:before,
#quiz .panel .start .lastbutton:before {
  color: white;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: 5px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90%;
}

#quiz .panel .question .nextbutton:before,
#quiz .panel .start .nextbutton:before {
  content: "\f105";
  font-size: 3.7em;
  right: 0;
}

#quiz .panel .question .lastbutton:before,
#quiz .panel .start .lastbutton:before {
  content: "\f104";
  font-size: 2em;
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  text-indent: 0;
}

.shareme {
  background: white;
  width: 54%;
  padding: 10px 3%;
  border-top: #c8c8c8 2px solid;
  border-bottom: #c8c8c8 2px solid;
}

.shareme p {
  font-family: 'WWFRegular', Arial, sans-serif;
  font-size: 1.65em;
  font-weight: 400;
  margin: 0.1em 0.5em 0 0;
  line-height: 1.3em !important;
  padding: 0;
  padding-bottom: 0 !important;
  float: left;
}

.shareme a.socialbutton {
  display: inline-block;
  width: 2em;
  height: 2em;
  padding: 0;
  position: relative;
  margin: 0.1em 0 0 0.1em;
  border-radius: 1em;
}

.shareme a.socialbutton:after {
  display: inline-block;
  font-size: 1.3em;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5em;
  width: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

a#facebookshare {
  background: #3b5998;
}

a#facebookshare:after {
  content: "\f09a";
}

a#twittershare {
  background: #00aced;
}

a#twittershare:after {
  content: "\f099";
}

a#googleshare {
  background: #dd4b39;
}

a#googleshare:after {
  content: "\f0d5";
}

.actionspanel {
  background: #d8682a;
  color: white !important;
  height: 0;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 0px 5%;
  width: 90%;
}

.actionspanel h2 {
  color: white !important;
  font-size: 2em;
}

.actionspanel p,
.actionspanel .third {
  float: left;
  margin: 0;
  padding: 10px 2%;
  width: 29%;
}

.actionspanel p {
  font-size: 1.3em;
}

.actionspanel a.adoptpanel {
  width: 100%;
  background: white;
  display: block;
  padding: 0;
  margin: 0;
}

.actionspanel a.adoptpanel img {
  margin: 0 !important;
  width: 100%;
  height: auto;
  float: left;
}

.actionspanel a.adoptpanel h4 {
  padding: 5px;
  font-size: 2em;
  text-align: center;
  color: #d8682a;
}

.actionspanel a.wwf_button {
  display: block;
  background: white !important;
  color: #d8682a;
  border-bottom-color: black;
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  margin-bottom: 20px !important;
}

.actionspanel a.wwf_button.buttonone:after {
  border-color: #d8682a;
}

.actionspanel.activate {
  padding: 20px 5%;
  height: auto;
}

.warning {
  background: rgba(0,0,0,0.8);
  display:block;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:1000000;
}

.warning .contents {
  color: white;
  margin:-16em 5% 0;
  position: absolute;
    top:50%;
  width:90%;
}

.warning .contents p {
  font-family: 'Open Sans Condensed', Arial, sans-serif;
  font-size: 3em;
  font-weight:600;
  text-align: center;
  width:100%;
}

.warning .contents span.makemebigger {
  font-size: 1.5em;
}

@media (max-width: 800px) {
  #quiz .panel .question,
  #quiz .panel.startpanel .question {
    width: 100%;
  }
  #quiz .panel .image,
  #quiz .panel.startpanel .image {
    width: 100%;
  }
  #quiz .panel .question label,
  #quiz .panel .question input[type="radio"]:checked + label {
    margin-left: 5%;
    margin-right: 5%;
    width: 84%;
    z-index: 1;
  }
  #quiz .panel .question input[type="radio"]:checked + label {
    font-size: 1.2em;
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    margin-top: -0.4em;
    margin-bottom: -0.4em;
  }
  #quiz .panel .question .nextbutton,
  #quiz .panel .question .nextbutton:hover,
  #quiz .panel .question .lastbutton,
  #quiz .panel .question .lastbutton:hover {
    height: 30px;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
    top: 0;
    text-indent: 0;
    width: 44%;
  }
  #quiz .panel .question .nextbutton,
  #quiz .panel .question .nextbutton:hover {
    float: right;
    margin-right: 5%;
    right: 0;
  }
  #quiz .panel .question .lastbutton,
  #quiz .panel .question .lastbutton:hover {
    float: left;
    margin-left: 5%;
    left: 0;
  }
  #quiz .panel .question .nextbutton:before,
  #quiz .panel .question .lastbutton:before {
    display: none;
  }
  .shareme p {
    width: 100%;
  }
  #quiz {
    height: 640px;
  }
  .shareme,
  #quiz .panel .question {
    width: 94%;
  }
  #quiz .panel .image {
    width: 100%;
    height: 200px;
  }
  .enews label {
    width: 30%;
  }
  .enews input[type="text"],
  .enews input[type="email"] {
    width: 44%;
  }
  .actionspanel p {
    width: 96%;
  }
  .actionspanel .third {
    width: 45%;
  }
}

.quicktransition {
  transition: all 0.15s linear;
}

.transition {
  transition: all 0.3s linear;
}

.slowtransition {
  transition: all 0.6s linear;
}